* {
    margin:0;
    padding:0;
}
a {
    text-decoration: none;
}
.top {
    background: linear-gradient(#eeeeee 0%,white 100%);
    border-bottom: gainsboro solid 1px;
}
.top p {
    width: 1100px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
}
.language {
    float: right;
}
header {
    margin: 0 auto;
    width: 1100px;
    height: 120px;
}
header h1 {
    display: inline-block;
    text-align: center;
    line-height: 120px;
    margin: 0 157px;
}
header img {
    float: left;
    width: 306px;
    height: 120px;
}
.menu {
    height:40px;
    margin:0 auto;
    background: #0069cc;
}
.menu ul {
    list-style:none;
    height: 40px;
    display: table;
    margin: 0 auto;
}
.menu ul li {
    float:left;
    margin-left:2px;
}
.menu ul li a {
    display:block;
    width: 130px;
    height:40px;
    line-height:40px;
    text-align:center;
    color: white;
    font-size:16px;
}
.menu ul li a:hover {
    background: orange;
    color: white;
}
.menu ul li ul {
    display:none;
    position:absolute;
}
.menu ul li ul li {
    float:none;
    width: 180px;
    border-bottom: gainsboro solid 1px;
}
.menu ul li ul li a {
    width: 165px;
    height: 35px;
    background: whitesmoke;
    padding-left: 15px;
    text-align: left;
    line-height: 40px;
    color: gray;
}
.menu ul li ul li a:hover {
    background: gainsboro;
    color: #0069cc;
}
.menu ul li:hover ul {
    display:block;
}
.big {
    width: 1100px;
    margin: 0 auto;
}
footer {
    border-top: gainsboro solid 1px;
    background: linear-gradient(#eeeeee 0%,white 100%);
    margin-top: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #666666;
}